@charset "UTF-8";
/* колір основного тексту */
/* колір ховеру */
/* колір допоміжного тексту */
/* колір допоміжного фону */
/* білий */
body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  border: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/*.header {
  @include fon(500, 14px, 1.143, 0.02em);
  border: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;

  .container {
    display: flex;
    align-items: center;
  }
}

.sait-nav {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
  }

  &-item:not(:last-child) {
    margin-right: 50px;
  }
}

.sait-nav-link {
  position: relative;
  color: $primary-text-color;

  transition-property: background-color;
  transition: $delay $function;

  &-current::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -33px;
    background: $accent-color;
    border-radius: 2px;
  }

  &:hover,
  &:focus,
  &-current {
    color: $accent-color;
  }
}

.adress-header {
  margin-left: auto;

  &-list {
    display: flex;
  }

  &-item:not(:last-child) {
    margin-right: 50px;
  }
}

.adress-header-link {
  font-style: normal;
  color: $accent-text-color;

  transition-property: background-color;
  transition: $delay $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.adres-icon {
  @include icon(16px, 12px, currentColor);
  margin-right: 10px;
}
*/
/*.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 696px;
  height: 120px;
  padding-top: 200px;
  padding-bottom: 200px;

  &-section {
    background-color: $background-primery;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/Герой/hero_desktop_x1.webp');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

  &-title {
    @include fon(900, 44px, 1.364, 00.06em);
    text-transform: uppercase;
    color: $white-color;
    text-align: center;
    margin-bottom: 30px;
  }

  &-button {
    @include fon(700, 16px, 1.875, 00.06em);

    text-align: center;

    color: $white-color;
    background: $accent-color;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
  }
}
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-closed-batton {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.modal-closed-batton-ing {
  width: 11px;
  height: 11px;
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-closed-batton:hover, .modal-closed-batton:focus {
  color: #2196f3;
}

.form-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form-item-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 8px;
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.form-input:focus + .form-item-icon {
  fill: #2196f3;
}

.feedback {
  resize: none;
  height: 120px;
  padding-left: 12px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
}

.feedback ::-webkit-input-placeholder {
  resize: none;
}

.feedback :-ms-input-placeholder {
  resize: none;
}

.feedback ::-ms-input-placeholder {
  resize: none;
}

.feedback ::placeholder {
  resize: none;
}

.form-input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

label .footer-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox-form-label {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.checkbox-form-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 1px;
  content: '';
  margin-right: 10px;
  vertical-align: middle;
}

.checkbox-form-label span {
  vertical-align: middle;
}

.checkbox-form-input:checked + .checkbox-form-label::before {
  background-color: #2196f3;
  background-image: url(../../images/галочка/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: #2196f3;
  border-radius: 2px;
}

.checkbox-form-input:focus + .checkbox-form-label::before {
  outline: 1px solid blue;
}

.modal-check-contract {
  font-weight: normal;
  font-size: 14px;
  line-height: 0.583;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-contract {
  color: #2196f3;
  text-decoration: underline;
}

.submit-button {
  background-color: #2196f3;
  min-width: 200px;
  min-height: 50px;
  margin-left: 30%;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  left: 50%;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*.specionalization {
  margin-top: 94px;

  &-conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &-item-title {
    @include fon(700, 14px, 1.143, 0.03em);
    text-transform: uppercase;
    color: $primary-text-color;
    margin-bottom: 10px;
  }

  &-item-text {
    @include fon(400, 14px, 1.714, 0.03em);
    color: $accent-text-color;
    width: 270px;
    min-height: 75px;
  }

  &-list {
    display: flex;
    margin-bottom: 95px;
  }

  &-item:not(:last-child) {
    margin-right: 30px;
  }

  &-list-img {
    display: flex;
    margin-top: 50px;
    margin-bottom: 94px;
  }

  &-box-img {
    width: 370px;
    height: 294px;
  }

  &-item-img:not(:last-child) {
    margin-right: 30px;
  }
  &-icon {
    width: 70px;
    height: 70px;
  }

  &-card {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $background-color;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &-box {
    position: relative;
  }

  &-box-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &-text {
    @include fon(500, 14px, 1.143, 0.03em);
    text-align: center;
    color: $white-color;
    text-transform: uppercase;
  }
}
*/
/*.command {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;

  .title {
    margin-bottom: 50px;
  }

  &-list-name {
    @include fon(500, 16px, 1.188, 0.03em);
    text-align: center;
    color: $primary-text-color;
    margin-bottom: 10px;
  }

  &-list-position {
    @include fon(400, 16px, 1.188, 0.03em);
    text-align: center;
    color: $accent-text-color;
    margin-bottom: 16px;
  }
  &-list {
    display: flex;
  }

  &-list-item {
    background-color: $white-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .card-command-content {
    padding: 30px;
  }
}

.social-networks {
  display: flex;
  justify-content: center;

  &-item {
    width: 20px;
    height: 20px;
  }

  &-list:not(:last-child) {
    margin-right: 10px;
  }
}

.social-command-link {
  display: flex;
  width: 44px;
  height: 44px;
  color: $social-networks;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition: $delay $function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $white-color;
  }
}

.social-networks-icon {
  @include icon(20px, 20px, currentColor);
}
*/
/*.clients .title {
  margin-top: 109px;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  margin-bottom: 79px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.client-icon {
  @include icon(88.5px, 52px, currentColor);
}

.client-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $social-networks;

  transition-property: background-color;
  transition: $delay $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
*/
/*.footer {
  background: $background-primery;
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
  }

  .adress {
    margin-top: 20px;
  }
}

.logo-footer {
  color: $white-color;
}

.foter-title {
  @include fon(700, 14px, 1.143, 0.03em);
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}

.adress-street-link {
  font-style: normal;
  @include fon(400, 14px, 1.714, 0.03em);
  color: $white-color;
}

.adress-footer-link {
  font-style: normal;
  @include fon(400, 14px, 1.714, 0.03em);
  color: #ffffff99;
}

.adress-street-item {
  margin-top: 9px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  color: $white-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition: $delay $function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}

.footer-social-networks {
  margin-left: 70px;
  margin-top: 12px;
}
.foter-social-networks-icon {
  @include icon(20px, 20px, currentColor);
}

.foter-social-networks-item {
  width: 20px;
  height: 20px;
}
*/
/*.footer-form {
  display: flex;
  margin-left: auto;
  margin-top: 12px;

  &-submit {
    min-width: 200px;
    height: 50px;
    @include fon(700, 16px, 1.875, 0.06em);

    display: flex;
    justify-content: center;
    align-items: center;

    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    margin-top: 36px;
    padding: 10px;
  }

  &-title {
    @include fon(bold, 14px, 0.875, 0.03em);
    text-transform: uppercase;
    color: $white-color;
    border-radius: 4px;
  }

  &-submit-icon {
    @include icon(24px, 24px, currentColor);
    align-items: center;
    margin-left: 10px;
  }

  &-meil {
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $background-primery;
    @include fon(normal, 16px, 1.25, 0.03em);
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 24px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
}
*/
.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-item:hover, .buttons-item:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-item:hover, .buttons-item:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
}

.card-link {
  display: block;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover, .card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link:hover .card-box-item,
.card-link:focus .card-box-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-box-item {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-list > .card-item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top-width: 0px;
}

.card-thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.card-box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=main.css.map */