/*.clients .title {
  margin-top: 109px;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  margin-bottom: 79px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.client-icon {
  @include icon(88.5px, 52px, currentColor);
}

.client-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $social-networks;

  transition-property: background-color;
  transition: $delay $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
*/
.clients {
  margin-top: 60px;

  .title {
    @include fon(700, 28px, 1.179, 0.03em);
    margin-bottom: 30px;
  }
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
  & > .client-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.client-icon {
  @include icon(88.5px, 52px, currentColor);
}

.client-link {
  display: flex;

  height: 90px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $social-networks;

  transition-property: background-color;
  transition: $delay $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .client-list > .client-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 94px;

    .title {
      @include fon(700, 36px, 1.1667, 0.03em);
      margin-bottom: 50px;
    }
  }

  .client-list > .client-item {
    flex-basis: calc(100% / 6 - 30px);
  }
}
