$primary-text-color: #212121; /* колір основного тексту */
$accent-color: #2196f3; /* колір ховеру */
$accent-text-color: #757575; /* колір допоміжного тексту */
$background-color: #f5f4fa; /* колір допоміжного фону */
$white-color: #ffffff; /* білий */
$background-primery: #2f303a;
$social-networks: #afb1b8;
$delay: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
